<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wedding RSVP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

    <div class="container">
        <h1>You’re Invited 🎉</h1>
        <p>Please confirm your attendance</p>

        <form method="POST">
            <input 
                type="text" 
                name="name" 
                placeholder="Your full name" 
                required
            >

            <input 
                type="email" 
                name="email" 
                placeholder="Your email address" 
                required
            >

            <button type="submit">Confirm Attendance</button>
        </form>

        <footer>
            We can’t wait to celebrate with you 💍
        </footer>
    </div>

</body>
</html>
