<!DOCTYPE html>
<html>
<head>
  <title>Wedding RSVP</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <p class="flash {{ category }}">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

<form method="POST">
  <input type="text" name="name" placeholder="Your name" required>
  <input type="email" name="email" placeholder="Your email" required>
  <select name="category" required>
    <option value="">Select your group</option>
    <option value="TACSFON ALUMNI">TACSFON ALUMNI</option>
    <option value="TACSFON UNIBEN/UBTH">TACSFON UNIBEN/UBTH</option>
    <option value="CPE'20">CPE'20</option>
    <option value="CACGM">CACGM</option>
    <option value="FRIEND/FAMILY">FRIEND/FAMILY</option>
</select>

  <button type="submit">Submit</button>
</form>

</body>
</html>
